@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --red: #d01c28;
  --grey: #2e2e2e;
}

*{
  margin: 0;
}

button{
  all:unset;
  padding: 3px 16px;
  background: var(--red);
  height: 31px;
  color: white;
  font-weight: 500;
}

body{
  font-family: "Poppins", sans-serif;
}



.header{
  display: flex;
  justify-content: space-between;
  width: 1280px;
  height: 72px;
  margin: 0 auto;
  align-items: center;
}

.menu>ul{
  display: flex;
  list-style: none;
  gap: 24px;
}

.menu>ul>li>a{
  text-decoration: none;
  color: black;
}


/* main section ------------------------ */

.main-section{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.text-section{
  width: 595px;
  height: 613px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.image-section>img{
  width: 530px;
  height: 487.06px;
}

.title-text>h1{
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}

.info-text>p{
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}

.buttons{
  display: flex;
  gap: 40px;
}

.buttons>button{
  font-size: 24px;
}

.category-button{
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}

.links p {
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icons {
  display: flex;
  gap: 16px;
}